* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 1fr 2fr 2fr;
    gap: 15px;
}

.item {
    border: 2px dotted black;
}

.sidebar {
    grid-row: 1 / 4;
    background: linear-gradient(to right, #58b9e6, #b4ddf0);
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.logo-text,
.menu {
    color: black;
    /* justify-self: center; */
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo-text {
    font-size: 32px;
}

.logo {
    padding: 10px;
}

ul > img {
    width: 35px;
    justify-self: right;
}

.menu ul {
    font-size: 22px;
    list-style-type: none;
    display: grid; 
    height: 100%;   
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 16px;
}






.header {
    grid-column: 2 / 4;
    background: white;
}

.main-content {
    grid-area: 2 / 2 / 4 / 2;
    background: lightgray;
}

.announcements, 
.trending {
    background: lightgray;
}