* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: rgb(231, 231, 231);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    grid-template-rows: 1fr 3fr 3fr;
}

.item {
    /* border: 2px dotted black; */
}

.header {
    grid-column: 2 / 4;
    background: white;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-icon {
    justify-self: right;
    align-self: center;
    padding-right: 5px;
}

.searchbar {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 5px;
}

.searchbar > input[type="text"] {
    border: none;
    background: rgb(231, 231, 231);
    border-radius: 20px;
    height: 2.3rem;
    width: 90%;
    font-size: 1.3rem;
    padding-left: 15px;
    transition: ease-in-out 0.2s;
}

.searchbar > input[type="text"]:focus {
    outline: none;
    font-size: large;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    transform: scale(1.03);
}


.notification {
    display: flex;
    justify-content: flex-end;
}

.notification > img,
.top-pic-container,
.bottom-pic-container,
.user-name,
.logo-container,
.svg-container,
.account-1-pic-container,
.account-2-pic-container,
.account-3-pic-container,
.account-4-pic-container {
    transition: ease-in-out 0.3s;
}

.bottom-pic-container:hover,
.logo-container:hover, 
.svg-container:hover,
.account-1-pic-container:hover,
.account-2-pic-container:hover,
.account-3-pic-container:hover,
.account-4-pic-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.user-name {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.notification > img:hover,
.user-name:hover,
.project-tile:hover {
    cursor: pointer;
}

.user-pic{
    background: rgb(148, 212, 105);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px solid black;
}

.top-pic-container {
    justify-self: right;
    margin-right: 7px;
    height: 70px;
    width: 70px;
}

.top-picture {
    height: 50px;
    width: 50px;
}

.bottom-pic-container {
    justify-self: right;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bottom-picture {
    height: 80px;
    width: 80px;
}

.greeting {
    line-height: 37px;
    align-self: center;
}

.greeting > h2 {
    font-size: 28px;
}

.greeting > p {
    font-size: 20px;
    font-weight: bold;
}

.button-container {
    justify-self: left;
    align-self: center;
}

button {
    border: none;
    border-radius: 35px;
    background: white;
    height: 3rem;
    width: 7rem;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

button:hover {
    cursor: pointer;
    background: #58b9e6;
    color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

button:active {
    transform: scale(0.95);
    background: black;
}

.sidebar {
    grid-row: 1 / 4;
    background: #58b9e6;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.logo-text,
.menu {
    color: black;
    /* justify-self: center; */
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo-text {
    font-size: 32px;
}

.logo {
    padding: 10px;
}

.svg-container > img,
.notification img,
.search-icon img,
.project-tile-icons > img {
    width: 35px;
    justify-self: right;
}

.menu ul {
    font-size: 22px;
    list-style-type: none;
    display: grid; 
    height: 100%;   
    grid-template-rows: repeat(16, 1fr);
}

.svg-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 16px;
}

h3 {
    font-size: 1.4rem;
}

.main-content {
    /* background: rgb(159, 255, 155); */
    grid-area: 2 / 2 / 4 / 2;
    display: grid;
    grid-template-rows: 1fr 15fr;
    padding: 15px;
    margin: 15px;
}

.main-content-inner-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    border-radius: 20px;
    padding: 0 0 0 7px;
    row-gap: 30px;
    column-gap: 40px;
}

.project-tile {
    background: white;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border-radius: 10px;
    padding: 40px;
    box-shadow: -7px 0px 0px goldenrod;
}

.project-tile-title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

.project-tile-text {
    padding-right: 50px;
    font-size: 1.1rem;
}

.project-tile-icons {
    display: flex;
    justify-content: right;
    gap: 35px;
}

.project-tile-icons > img{ 
    transition: ease-in-out 0.3s;
    border-radius: 35px;
}

.project-tile-icons > img:hover {
    cursor: pointer;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.356);
}

.trending,
.announcements {
    display: grid;
    margin-right: 25px;
    margin: 15px;
    padding: 15px;
}

.announcements {
    grid-template-rows: 1fr 8fr;
}

.announcements-inner-grid,
.trending-inner-grid {
    display: grid;
    border-radius: 10px;
    padding: 1.1rem;
}

.announcements-inner-grid {
    background: white;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}

.announcements-inner-grid > div:not(:last-child) {
    border-bottom: 2px solid rgba(128, 128, 128, 0.438);
    width: 100%;
}

.trending-inner-grid > div:hover,
.announcements-inner-grid > div:hover {
    cursor: pointer;
}

.trending {
    grid-template-rows: 1fr 8fr;
}

.trending-inner-grid {
    background: white;
    row-gap: 15px;
}

.account-1,
.account-2,
.account-3,
.account-4 {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.account-1-pic-container,
.account-2-pic-container,
.account-3-pic-container,
.account-4-pic-container {
    grid-row: 1 / 3; 
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    height: 55px;
    width: 55px;
}

.account-1-pic-container {
    background: rgb(250, 122, 122);
}

.account-2-pic-container {
    background: rgb(148, 212, 105);
}

.account-3-pic-container {
    background: rgb(145, 145, 248);
}

.account-4-pic-container {
    background: rgb(141, 141, 141);
}

.trending-account-pic {
    height: 40px;
    width: 40px;
}

.account-username {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}